<app-breadcrumb-component [links]="store.breadcrumb()"></app-breadcrumb-component>

<app-search-bar-component [icon]="'opacity'" [label]="'Search ingredients'" (search)="onSearch($event)"></app-search-bar-component>

@if(store.paginator()) {
    <app-search-info-component [paginator]="store.paginator()!"></app-search-info-component>
    <app-search-pagination-component [paginator]="store.paginator()!" (pageChange)="onPageChange($event)"></app-search-pagination-component>
}

<app-search-container-item-component *ngIf="store.ingredients().length > 0">
    <app-search-results-item-component *ngFor="let ingredient of store.ingredients(); trackBy: trackByIndex" [url]="`/ingredients/${ingredient.id}`">
      <span title>{{ ingredient.name }}</span>
      <p description>{{ ingredient.description ?? "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis eius harum deserunt? Temporibus debitis, explicabo delectus neque placeat voluptate error deleniti recusandae voluptatem. Distinctio repellendus consectetur aliquam rerum, dolores dolor?" }}</p>
    </app-search-results-item-component>
</app-search-container-item-component>

@if(store.paginator()) {
    <app-search-pagination-component [paginator]="store.paginator()!"></app-search-pagination-component>
}