<div class="page-header">
  <mat-icon class="page-icon">opacity</mat-icon>
  <h1 class="page-title">Ingredients</h1>
</div>

<app-search-bar-component [icon]="'opacity'" [label]="'Search ingredients'" (search)="onSearch($event)"></app-search-bar-component>

@if (store.ingredients().length > 0) {
  <app-search-container-item-component>
    @for (ingredient of store.ingredients(); track ingredient.id) {
      <app-search-results-item-component [url]="'/ingredients/' + ingredient.id" [title]="ingredient.name" [description]="ingredient.description"></app-search-results-item-component>
    }
  </app-search-container-item-component>
}

@if (store.paginator()) {
  <app-search-pagination-component [paginator]="store.paginator()!" (pageChange)="onPageChange($event)"></app-search-pagination-component>
}
